{% extends "basemodel.html" %}


{% block content %}
<div class="row">
    <div class="well well-lg" style=" border-bottom: 1px solid lightgrey; width: 100%;margin-bottom: 2%;">
        <h2 style="text-align: center; padding: 2%;">Liveness Detection</h2>
        <p></p>
    </div>

    <div class="embed-responsive embed-responsive-16by9" style="width: 80%; margin-inline: 10%;margin-top: 5%;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YdiLV5Cm9w8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <div style="margin-top: 5%;margin-inline: 10%">
        <h4 style="text-align: center;">Description</h4>
        <p>A facial recognition system is a technology capable of matching a human face from a digital image or a video frame against a database of faces, typically employed to authenticate users through ID verification services, works by pinpointing and measuring facial features from a given image.</p>
    </div> -->
</div>



{% endblock %}