{% extends "basemodel.html" %}


{% block content %}

<div class="row" style="padding-left: 30%;">

    <form action="/files/" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="card" style="width:80%;">
                
                <img class="card-img-top" src="{{ url_for('static', path='/images/OCR2.gif') }}" alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Image for OCR</h4>

                    <p class="card-text" style="text-align: center;">Please insert a image for OCR</p>
                    <input name="files" type="file" multiple>
                </div>
            </div>
            
        </div>
        <br>
        <br>
        <div class="row">
            <div style="width: 80%;">
                <button class="btn btn-primary btn-block"  type="submit">Perform OCR</button>
            </div>
        </div>
    </form>

                
                
</div>
{% endblock %}